{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'Summarizer/images/mainlogo.png' %}" />


    <title>About PLJR Summarizer</title>
  </head>
<body>

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">PLJR Summarizer</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                  <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item active">
                  <a class="nav-link" href="about/">About Us <span class="sr-only">(current)</span></a>
                  </li>
            </ul>
          </div>
          
<!-- Sreach --> 
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

</nav>

<!-- Text Area -->
<div class="container mt-5">
    <div class="col s12 m6 grey darken-3">
      <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">About Us</i></h2>
      <br><br>

          <div class="alert alert-info" role="alert">
          <p><span style="color:#000000;"> The PLJR Summarizer App aims to provide a short and precise summary description of the various judgment passed in the different courts of the country. This summarization could reduce the time and the efforts required by the lawyers who go through every judgment to find relevant details for their case. 
          The Web App applies the number of an algorithm to arrive upon the judgment summary. This algorithm is provided to the user in form of a list of options in which the user can choose the desired option as per his requirement. Based on this algorithm decisions are arrived upon and a summary is presented to the user. </span></p>
          </div>

      </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
